<body class="antialiased font-sans bg-gray-200">
  <div class="container mx-auto px-4 sm:px-8">
      <div class="py-8">
          <div>
              <h2 class="text-2xl font-serif leading-tight">Users</h2>
          </div>
          <div class="my-2 flex sm:flex-row flex-col">
              <div class="flex flex-row mb-1 sm:mb-0">
                  <div class="relative">
                    <button routerLink="/menu"
                        class="text-sm bg-gray-100 hover:bg-gray-400 text-gray-800 font-serif py-2 px-4 rounded-l">
                      Menú Principal
                    </button>
                  </div>
                  <div class="relative">
                    <button routerLink="/login"
                        class="text-sm bg-gray-100 hover:bg-gray-400 text-gray-800 font-serif py-2 px-4 rounded-l">
                      Login
                    </button>
                  </div>
                  <div class="relative">
                    <button routerLink="/menu/register-users"
                        class="text-sm bg-gray-100 hover:bg-gray-400 text-gray-800 font-serif py-2 px-4 rounded-l">
                       Crear Persona
                    </button>
                  </div>
              </div>
          </div>
          <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
              <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
                  <table class="min-w-full leading-normal">
                      <thead>
                          <tr>
                              <th
                                  class="px-5 py-5 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-serif text-gray-600 uppercase tracking-wider">
                                  Nombre
                              </th>
                              <th
                                  class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-serif text-gray-600 uppercase tracking-wider">
                                  Apellido
                              </th>
                              <th
                                  class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-serif text-gray-600 uppercase tracking-wider">
                                  Edad
                              </th>
                              <th
                                  class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-serif text-gray-600 uppercase tracking-wider">
                                  Rol
                              </th>
                              <th
                                  class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-serif text-gray-600 uppercase tracking-wider">
                                  Email
                              </th>
                              <th
                                  class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-serif text-gray-600 uppercase tracking-wider">
                                  Editar
                              </th>
                              <th
                                  class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-serif text-gray-600 uppercase tracking-wider">
                                  Eliminar
                              </th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let user of user">
                              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                  <div class="flex items-center">
                                      <div class="flex-shrink-0 w-10 h-10">
                                          <!-- <img class="w-full h-full rounded-full"
                                              src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.2&w=160&h=160&q=80"
                                              alt="" /> -->
                                      </div>
                                      <div class="ml-2 px-0 py-5 ">
                                          <p class="text-gray-900 whitespace-no-wrap px-1 py-1 border-b">
                                              {{user.nombre}}
                                          </p>
                                      </div>
                                  </div>
                              </td>
                              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                  <p class="text-gray-900 whitespace-no-wrap">{{user.apellido}}</p>
                              </td>
                              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                  <p class="text-gray-900 whitespace-no-wrap">
                                      {{user.edad}}
                                  </p>
                              </td>
                              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                  <span
                                      class="relative inline-block px-3 py-1 font-serif text-green-900 leading-tight">
                                      <span aria-hidden
                                          class="absolute inset-0 bg-blue-10 opacity-50 "></span>
                                      <span class="relative">{{user.rol}}</span>
                                  </span>
                              </td>
                              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                  <p class="text-gray-900 whitespace-no-wrap">{{user.email}}</p>
                              </td>
                              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                  <button (click)="edit(user)" class="material-icons text-gray-900 whitespace-no-wrap">
                                    Editar
                                  </button>
                              </td>
                              <td class="px-5 py-5 border-b border-black-200 bg-white text-sm">
                                  <button (click)="deletUuser(user._id)" class="material-icons text-gray-900 whitespace-no-wrap">
                                   Eliminar
                                  </button>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</body>
